@import 'src/theme/_theme.scss';

.ConfigAccount {
    display: flex;
    flex-direction: column;
    padding: 70px;
    @media only screen and (max-width: 540px) {
        padding: 25px;
        margin-bottom: 70px;
    } 
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .basicData {
            padding: 25px;
            width: 600px;
            display: flex;
            flex-direction: column;
            background-color: rgb(250, 250, 251);
            margin-top: 50px;
        }
        .textField {
            margin: 10px 0;
        }
        h3 {
            font-family: 'OpenSans-SemiBold', sans-serif;
            color: $PRIMARY_DARK;
            font-size: $BIG_SIZE;
            text-transform: uppercase;
        }
    }
    .top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 25px;
        @media only screen and (max-width: 540px) {
            flex-direction: column;
        } 
        .title {
            display: flex;
            align-items: center;
            width: 600px;
            svg {
                color: $PRIMARY;
            }
            @media only screen and (max-width: 540px) {
                width: auto;
            } 
            h2 {
                font-family: 'OpenSans-SemiBold', sans-serif;
                color: $PRIMARY_DARK;
                font-size: $LARGE_SIZE;
                text-transform: uppercase;
                margin: 0 0 0 5px;
            }
        }
        .button {
            width: 600px;
            display: flex;
            justify-content: flex-end;
            @media only screen and (max-width: 540px) {
                width: auto;
                margin-top: 25px;
            } 
            .saveButton {
                width: 150px;
                height: 35px;
                background-color: $PRIMARY;
            }
        }
    }
}